body,
footer {
  font-family: "Archivo", sans-serif;
  margin: 0px;
}

header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  font-size: large;
}

nav {
  display: flex;
}

nav > ul {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0px;
}

nav > ul > a {
  margin: 0px 15px;
  color: black;
  text-decoration-color: transparent;
  text-decoration: none;
}

nav > ul > a:hover,
.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.main {
  background-color: #fff39d;
  padding: 30px;

  height: 600px;
  padding: 0px;
}
p {
  font-family: "EB Garamond", serif;
  font-size: 22px;
  line-height: 1.3;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.centered {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

article {
  padding: 20px 50px;
}

.left {
  width: 60%;
}

.right {
  display: flex;
  width: 40%;
  position: relative;
}

.right > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}

/* skills */

.hard-skill-item {
  display: flex;
  margin-bottom: 15px;
  flex-direction: row;
}

.hard-skill-item > span {
  font-size: 22px;
  min-width: 200px;
}

.skill-empty {
  color: #9a9a9a;
}

.hard-skill-item:hover > div > i {
  animation: pulse 0.5s ease-in infinite;
}

.hard-skill-item:hover > div > i.skill-empty {
  display: none;
}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}

/* quote */

section {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.quote-text {
  font-family: "Comfortaa", regular;
  font-size: 24px;
}

.quote-name {
  font-family: "Comfortaa", light;
  font-size: 18px;
}

/* quote */
footer {
  color: white;
  background: #171236;
}

.connect-icons {
  color: #fff39d;
  font-size: 40x;
  margin-right: 20px;
}

.contact-section > article > div > ul > li > a:link {
  color: white;
}

@media only screen and (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: column;
  }

  header > div {
    display: flex;
    justify-content: center;
  }

  nav {
    justify-content: center;
  }

  .right {
    display: none;
  }
  .main{
    height: 100%;
    padding: 30px;
  }

  .left{
    width: 100%;
  }

  section {
    justify-content: center;
  }

  .hard-skill-item {
    flex-direction: column;
  }

  p{
    font-size: 35px;
  }

  .centered{
    flex-direction: row;
  }
}
