ul {
  list-style-type: none;
  padding: 0px;
}

nav > ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

nav > ul > li {
  margin: 0px 15px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.main {
  background-color: #fff39d;
  padding: 30px;
}

p {
  font-family: "EB Garamond";
  font-size: 25px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

body,
footer {
  font-family: "Archivo";
}

article {
  padding: 20px 50px;
}

.right {
  display: none;
}

.fa-heart {
  font-size: 36px;
}

.hard-skill-item {
  display: flex;
  margin-bottom: 15px;
  flex-direction: row;
}

.hard-skill-item > span {
  font-size: 22px;
  min-width: 180px;
  display: flex;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.quote-text {
  font-family: "Comfortaa";
  font-size: 24px;
}

.quote-name {
  font-family: "Comfortaa", light;
  font-size: 18px;
}

.centered {
  flex-direction: row;
}

.hard-skill-item:hover > div > i {
  animation: pulse 0.5s ease-in infinite;
}

.hard-skill-item:hover > div > i.skill-empty {
  display: none;
}

.active {
  border-color: black;
}

nav > ul > li {
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

nav > ul > li:hover {
  border-color: #171236;
  transition: border-color 0.7s linear;
}

a {
  border: none;
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}

.skill-empty {
  color: #9a9a9a;
}

footer {
  color: white;
  background: #171236;
}

footer > section > article > div > ul > li > a:link {
  color: white;
}

.connect-icons {
  color: #fff39d;
  font-size: 40x;
  margin-right: 20px;
}

@media only screen and (min-width: 1000px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .fa-heart {
  font-size: 54px;
}

  .right {
    display: flex;
    width: 40%;
    justify-content: end;
  }

  article {
    padding: 30px 100px 30px 150px;
  }

  section {
    display: flex;
    padding: 30px;
  }

  .main > article {
    display: flex;
    justify-content: space-between;
  }
  .left {
    width: 60%;
  }

  .quote-parent {
    display: flex;
    width: 40%;
    justify-content: end;
  }
}
